Channel parameter location inconsistency

The [channel object defines](https://www.asyncapi.com/docs/reference/specification/v2.5.0#channelItemObject) parameters as:

> A map of the parameters included in the channel name. It SHOULD be present only when using channels with expressions (as defined by [RFC 6570 section 2.2](https://tools.ietf.org/html/rfc6570#section-2.2)).

But the [parameter object](https://www.asyncapi.com/docs/reference/specification/v2.5.0#parameterObject) allows you to define a runtime expression defining the location of the parameter value through `location`.

> A [runtime expression](https://www.asyncapi.com/docs/reference/specification/v2.5.0#runtimeExpression) that specifies the location of the parameter value. Even when a definition for the target field exists, it MUST NOT be used to validate this parameter but, instead, the schema property MUST be used.

The [runtime expression](https://www.asyncapi.com/docs/reference/specification/v2.5.0#runtimeExpression) is defined as using the syntax:

```
      expression = ( "$message" "." source )
      source = ( header-reference | payload-reference )
      header-reference = "header" ["#" fragment]
      payload-reference = "payload" ["#" fragment]
      fragment = a JSON Pointer [RFC 6901](https://tools.ietf.org/html/rfc6901)
```

Which I assume gives the possibility to define message headers for the channel such as:

```yaml
asyncapi: 2.5.0
info:
  title: Account Service
  version: 1.0.0
  description: This service is in charge of processing user signups
channels:
  user/signedup:
    parameters: 
      Authorization:
        schema:
          type: string
          const: 'bearer token'
        location: '$message.header#Authorization'
    subscribe:
      message:
        $ref: '#/components/messages/UserSignedUp'
components:
  messages:
    UserSignedUp:
      payload:
        type: object
        properties:
          displayName:
            type: string
            description: Name of the user
          email:
            type: string
            format: email
            description: Email of the user
```

Or does the definition of what a parameter is `A map of the parameters included in the channel name` veto that?

Related discussion in spec 3.0 meeting: https://youtu.be/JsalpKiWsP4, the question raised here: https://youtu.be/JsalpKiWsP4?t=2930

Extended discussion afterward:
- If it is allowed to define headers in the channel parameters, I would assume that would remove the need for [websockets to define their own headers](https://github.com/asyncapi/bindings/tree/master/websockets#channel-binding-object) in the bindings?

it is pretty old feature and I think only @fmvilas is able to answer really

The whole thing started here: https://github.com/asyncapi/spec/issues/199. Yeah, I think `A map of the parameters included in the channel name` vetoes that. We can clarify it more, of course.