Clarify usage or URN for an AsyncAPI spec id

### Describe the bug
The documentation of the `id` property of an AsyncAPI spec currently recommends using a URN as an `id` (https://www.asyncapi.com/docs/specifications/v2.3.0#A2SIdString). 

The [RFC of URN](https://datatracker.ietf.org/doc/html/rfc8141) states that a URN needs to have a registered namespace in order to be valid: 
> While other URI schemes may allow resource identifiers to be freely chosen and assigned, such is not the case for URNs.  The syntactical correctness of a name starting with "urn:" is not sufficient to make it a URN.  In order for the name to be a valid URN, the namespace identifier (NID) needs to be registered in accordance with the rules defined here, and the remaining parts of the assigned-name portion of the URN need to be generated in accordance with the rules for the registered URN namespace.

This makes it very hard to provide valid URNs for the `id` property, as one needs to register a URN namespace at IANA. 

### Possible solution
IMHO the recommendation of using a URN should be changed to using an identifier that starts with a reverse-DNS name. Doing so would still make it possible to have unique IDs for AsyncAPI specs while not having to hassle with invalid URNs. Using a reverse-DNS prefixed id is a common pattern.



Relates to https://github.com/asyncapi/spec/pull/718 (not the same)

It is not very clear to me, by the RFC, that informal URN namespaces should be registered as they already have the `:urn{1-7}` assigned. 
Are you sure about that (asking because I have **no idea**)?

By RFC 8141, even the informal URN namespace identifiers (NIDs) are meant to be registered with IANA. Section 5.2 says

> the registrant does not designate the NID; instead, IANA assigns the NID

And section 7.2 says

> In all cases, the IANA ought to assign the appropriate NID (formal or informal) once the procedures outlined in [Section 6](https://datatracker.ietf.org/doc/html/rfc8141#section-6) have been completed.

So even an informal URN would need to be registered and, using a hypothetical informal URN namespace "8", would look something like `urn:urn-8:com:smartylighting:streetlights:server`

For what it's worth, I suggest keeping the requirement that the `id` must conform to the URI format, but I suggest changing the recommendation.

I suggest recommending the [`tag` URI scheme](https://www.rfc-editor.org/rfc/rfc4151.html) to get the benefit of "identify[ing] the application during long periods of time, even after it becomes unavailable or ceases to exist,"

I recognize there are [several](https://en.wikipedia.org/wiki/Magnet_URI_scheme) [examples](https://docs.microsoft.com/en-us/linkedin/shared/api-guide/concepts/urns) of URNs with unregistered NIDs in [other products](https://docs.microsoft.com/en-us/previous-versions/windows/desktop/ms764635(v=vs.85)) and systems. Those usages were created before RFC8141 obsoleted RFC2141 in 2017. RFC2141 didn't _require_ namespace identifiers to be registered with IANA, while RFC 2611 and RFC 3406 that described the registration process were only "Best current practices" documents. But a new industry standard like AsyncAPI should follow the latest standards-track RFC for URNs and respect the registration requirement.